<!DOCTYPE html>
<html>
<head>
    <title>Сбросить пароль</title>
</head>
<body>
    <h2>Введите новый пароль</h2>
    {% if error %}<p style="color:red">{{ error }}</p>{% endif %}
    <form method="POST">
        <label>Новый пароль:</label><br>
        <input type="password" name="password" required autocomplete="new-password"><br>
        <input type="password" name="passwordс" placeholder="Подтвердите пароль" required autocomplete="new-password"><br>
        <button type="submit">Сбросить пароль</button>
    </form>
</body>
</html>
